.room_switchbracket {
    position: fixed;
    left: -1em;
    text-align: center;
    width: 10em;
    bottom: -0.2em;
    transform: translateY(0);
    color: #b190e2;
    font-family: HUN;
    font-size: 2.2em;
    filter: brightness(1) drop-shadow(0px -2px #16101E) drop-shadow(-2px 0px #16101E) drop-shadow(2px 0px #16101E) drop-shadow(0px 4px 8px #0004);
    transition: .5s transform, .5s filter, .5s opacity;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    cursor: pointer;
    font-weight: 900;
    z-index: 10;

    & .custom-text {
        font-weight: 500; // Equivalent to font-medium in Tailwind CSS
        color: #7f5af0; // Equivalent to text-purple-800 in Tailwind CSS
        font-size: 0.75rem; // Equivalent to text-xs in Tailwind CSS
        margin-bottom: -0.5rem; // Equivalent to -mb-2 in Tailwind CSS
    }

    &:hover {
        transition: .2s transform, .2s filter, .5s opacity;
        transform: translateY(-0.15em);
        filter: brightness(1.2) drop-shadow(0px -2px #16101E) drop-shadow(-2px 0px #16101E) drop-shadow(2px 0px #16101E) drop-shadow(0px 4px 8px #0004);
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, #2e1c49 0, #221437 100%);
        clip-path: polygon(0 100%, 0% 0, 90% 0, 100% 100%);
        z-index: -1;
    }
}

.room_ingame_warning {
    position: fixed;
    left: calc(50% - 10em);
    text-align: center;
    width: 20em;
    bottom: 0;
    transform: translateY(0);
    color: #b190e2;
    font-family: HUN;
    font-size: 2.2em;
    filter: brightness(1) drop-shadow(0px -2px #16101E) drop-shadow(-2px 0px #16101E) drop-shadow(2px 0px #16101E) drop-shadow(0px 4px 8px #0004);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-weight: 900;
    z-index: 10;
    transition: .5s transform, .5s filter, .5s opacity;
    user-select: none !important;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, transparent 0, #0008 100%), repeating-linear-gradient(-45deg, #2e1c49, #2e1c49 10px, #221437 10px, #221437 20px);
        clip-path: polygon(0 100%, 5% 0, 95% 0, 100% 100%);
        z-index: -1;
    }
}

.igw_addendum {
    font-weight: 500; /* Equivalent to font-medium in Tailwind CSS */
    color: #7f5af0; /* Equivalent to text-purple-800 in Tailwind CSS */
    font-size: 0.75rem; /* Equivalent to text-xs in Tailwind CSS */
    margin-bottom: -0.5rem; /* Equivalent to -mb-2 in Tailwind CSS */
}

.igw_addendum div {
    display: inline-block;
    width: 8em;
    background: linear-gradient(to bottom, #b190e2 0, #634c85 100%);
    color: #000B;
    font-weight: 900;
    filter: brightness(1);
    padding: 0.4em 0.5em;
    padding-bottom: 1.1em;
    transform: translateY(0);
    transition: .5s transform, .5s filter, .5s opacity;
    font-size: 1.5em;
    margin: 0 0.5em;
    margin-bottom: -1.05em;
    cursor: pointer;

    &:hover {
        transition: .2s transform, .2s filter, .5s opacity;
        transform: translateY(-0.15em);
        filter: brightness(1.2);
    }
}

.igw_spectate {
    clip-path: polygon(1em 0%, 100% 0%, 100% 100%, 0% 100%);
    padding-right: 0;
}

.igw_zen {
    clip-path: polygon(0% 0%, calc(100% - 1em) 0%, 100% 100%, 0% 100%);
    padding-left: 0;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    background: linear-gradient(to bottom, #181726 0, #2a284a 100%);
    border-top: 2px solid #282646;
    box-shadow: 0 0 8px #000;
    z-index: 10;
    transition: .3s bottom;

}

.home-footer {
    color: #898fa2;
    background: linear-gradient(to bottom, #1a1b1f 0, #2a2c32 100%);
    border-top: 2px solid #25262f;
}

.multiplayer-footer {
    color: #eeaed5;
    background: linear-gradient(to bottom, #2b1e26 0, #37232f 100%);
    border-top: 2px solid #412837;
}

.solo-footer {
    color: #9d97f3;
    background: linear-gradient(to bottom, #181726 0, #2a284a 100%);
    border-top: 2px solid #282646;
}

.leaderboard-footer {
    color: #b8f0bc;
    background: linear-gradient(to bottom, #212b22 0, #314c34 100%);
    border-top: 2px solid #3a603f;
}

.config-footer {
    color: #5367a9;
    background: linear-gradient(to bottom, #12151d 0, #222738 100%);
    border-top: 2px solid #1e2132;
}

.about-footer {
    color: #606060;
    background: linear-gradient(to bottom, #1f1f1f 0, #292929 100%);
    border-top: 2px solid #2f2f2f;
}

.league-footer {
    
}

.competition-footer {
    
}

.train-footer {
    
}

.fline-footer {
    color: #a97553;
    background: linear-gradient(to bottom, #1d1612 0, #382b22 100%);
    border-top: 2px solid #32261e;
}

.blitz-footer {
    color: #e09f9f;
    background: linear-gradient(to bottom, #311d1d 0, #472424 100%);
    border-top: 2px solid #5b2a2a;
}

.peace-footer {
    color: #db9fe0;
    background: linear-gradient(to bottom, #2f1d31 0, #422447 100%);
    border-top: 2px solid #592a5b;
}

.custom-footer {
    color: #9d97f3;
    background: linear-gradient(to bottom, #181726 0, #2a284a 100%);
    border-top: 2px solid #282646;
}

.room-footer {
    background: linear-gradient(to bottom, #251c3f 0, #371d53 100%);
    border-top: 2px solid #3f1c7a;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem; /* Equivalent to h-16 in Tailwind CSS */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 10;
    transition: all 0.3s;
}