@font-face {
    font-family: "TetrisEffect";
    src: url("./assets/font/tetris-effect-tetraminos.ttf");
}

@font-face {
    font-family: "Averey";
    src: url("./assets/font/averey-regular.ttf");
}

@font-face {
    font-family: "Hun";
    src: url("./assets/font/HunDIN1451.ttf");
}